html {
    background-image: url(pictures-of-people/prettyClouds.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 250%;
}
#nav_menu ul {
    list-style-type: none;
    padding: 1em 1em 1em 0;
    text-align: center;
}
#nav_menu ul li { 
    font-size: x-large;
    float:inline-start;
    display: block;
    width: 25%;
}
#nav_menu ul ul {
    display: none;
}
body{
    h1 {
        font-size: xx-large;
        margin-left: 32%;
    }
   font-family: cursive;
   font-size: medium;
}
#before {
    display: block;
    margin: auto auto;
}
#ultrasound {
    display: block;
    margin: auto auto;
}
#sturgis {
    display: block;
    margin: auto auto;
}
#livi {
    display: block;
    margin: auto auto;
}
footer {
    clear: both;
   text-align: center;
}


