html {
    background-image: url(pictures-of-people/ohBaby.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: cursive;
    
}
#nav_menu ul {
    grid-area: navi;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 2%;
    margin: 2%;
    font-size: x-large;
    width: 90%;
    justify-content: space-between;
}
body {
    text-align: center;
    h1 {
        font-size: xx-large;
        text-align: center;
        color: rgb(188, 93, 112);
    }
    h2 {
        font-size: x-large;
        color: purple;
        border-bottom-style:dashed;
        border-color: black;
    }
    h3 {
        font-size: medium;
    }    
}
ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

/****************** Footer*************/
footer {
    clear: both;
    text-align: center;
}

@media only screen and (max-width: 630px) {
    #nav_menu Ul {
        flex-direction: column;
    }

    #nav_menu ul li {

        width: 100%;
    }
}