html {
    background-image: url(pictures-of-people/ohBaby.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: cursive;
    text-align: center;
}

/********************Navigation ********************/
#nav_menu ul {
    grid-area: navi;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 1em;
    justify-content: space-around;
}

#nav_menu li {
    grid-area: navi;
    font-size: larger;
    background: none;
    width: 25%;
    text-align: center;
    background-color: #bc5d70;
    border-radius: 8px;
}

#nav_menu ul li a {
    padding: 2em 1em;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/******************* Body*****************/

h1 {
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    color: #bc5d70;
}

h2 {
    font-size: x-large;
    color: #800080;
    border-bottom-style: dashed;
    border-color: black;
}

h3 {
    font-size: medium;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

/****************** Footer*************/
footer {
    clear: both;
    text-align: center;
}

@media only screen and (max-width: 630px) {
    #nav_menu Ul {
        flex-direction: column;
    }

    #nav_menu ul li {

        width: 100%;
    }
}