html {
    background-image: url(pictures-of-people/prettyPinkSwirls.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    font-family: "Patrick Hand SC", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

#body_ul {
    color: rgb(54, 25, 16);
    font-family: cursive;
}
#photos {
    width: 100%;
    min-width: 15%;
    display: block;
    margin: auto auto;
}
#mainline {
    font-size: large;

}

/********************* Header ****************/
#header h1 {
    color: #8a2be2;
    font-size: 3em;

}

#header p {
    font-size: x-large;
    padding-top: 2%;
    clear: both;
}

/*********************** Main *************************/


/******************** Navigation *********************/
ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 1em;
    justify-content: space-between;
}

li {
    font-size: large;
    background: none;
    width: 25%;
    text-align: center;
    background-color: #8a2be2;
    border-radius: 8px;
}

ul li a {
    padding: 2em 1em;
    text-decoration: none;
    color: white;
    font-weight: bold;


}

/****************** Footer ************/
footer {

    clear: both;

}

@media only screen and (max-width: 630px) {
    #nav_menu ul {
        flex-direction: column;
    }

    #nav_menu ul li {

        width: 100%;
    }
}