html {
    background-image: url(pictures-of-people/prettyPinkSwirls.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
body,ul {
    color: rgb(54, 25, 16); font-family: cursive;    
}
#mainline {
    font-size: large;
    text-align: center;
}
#header {  
 h1 {
    color: blueviolet;
    font-size: xx-large;
    text-align: center;
 }
 h2 {
    font-size: large;
    padding-top: 2%;
    margin-left: 25%;
    clear: both;
 }
}
img {
    display: block;
    margin: auto auto;
}
ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 1em;
}
li {
    font-size: x-large;
    background: none;
    width: 25%;
    text-align: center;
}
ul ul {
    display: none;
}


footer {
    
    clear: both;
   text-align: center;
}
@media only screen and (max-width: 630px) {
    #nav_menu ul li {
        float: none;
        width: 100%;
    }
}