html {
    background-image: url(pictures-of-people/prettyPinkSwirls.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
body,h1,h2,ul {
    color: rgb(54, 25, 16); font-family: cursive;    
}
#main {
    font-size: large;
    text-align: center;
}
#header {  
 h1 {
    font-size: xx-large;
    text-align: center;
 }
 h2 {
    font-size: large;
    padding-top: 2%;
    margin-left: 25%;
    clear: both;
 }
}
img {
    border: 2em double black;
    display: block;
    margin: auto auto;
}
#nav_menu ul {
    list-style-type: none;
    padding: 1em 1em 1em 0;
    text-align: center;
}
#nav_menu ul li { 
    font-size: x-large;
    float:inline-start;
    display: block;
    width: 25%;
}
#nav_menu ul ul {
    display: none;
}
#nav_menu ul ul {
    display: none;
}

footer {
    clear: both;
   text-align: center;
}