html {
    background-image:url(pictures-of-people/prettySparkles.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
header {

    h1 {
    margin: 2em 11em 2em;
    }
    h2{
        clear: both;
    }
    background: img
}
body {
    color:black; font: 1em sans-serif; font-family: Arial, Helvetica, sans-serif;

section {
    font-family: cursive; 
    color: brown;

}
h2 {
    margin-left: 5em;
    margin-bottom: 2em;
    color:rgb(44, 65, 65)
}
#zoo {
    h2 {
        margin-left: 15%;
        margin-right: 5%;
        
    }
    img {
        margin-left: 15%;
        margin-right: 5%;
    }
    width: 600px;
    float: left;
    margin-left: 5%;
}
#Trip {
    h2 {
        margin-top: 4em;
        margin-right: 2em;
    }
    img {
        margin-right: 2%;

    }
    
    width: 600px;
    float: right;
    margin-right: 5%;
    
}
}
footer {
    clear: both;
}