html {
    background-image:url(pictures-of-people/prettySparkles.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
header {
    font-family: cursive;
    text-align: center;
}
 #nav_menu ul {
        list-style-type: none;
        padding: 1em 1em 1em 0;
        text-align: center;
    }
 #nav_menu ul li { 
        font-size: x-large;
        float:inline-start;
        display: block;
        width: 25%;
    }
#nav_menu ul ul {
        display: none;
    }

body {
    
    color:black; font: 1em sans-serif; font-family: Arial, Helvetica, sans-serif;

section {
    font-family: cursive; 
    color: brown;

}
h2 {
    font-family: cursive;
    clear: both;
    text-align: left;
    color:rgb(44, 65, 65)
}
#zoos {
    h2 {
       text-align: center;
        
    }
    img {
        clear: both;
        display: block;
        margin: auto auto;
        padding: 0 1em;
    }
    width: 600px;
    float: left;
    padding: 2em 1em 2em 0;
    margin-left: 5%;
}
#Trip {
    h2 {
        text-align: center;
    }
    img {
        display: block;
        margin: auto auto;

    }
    width: 600px;
    float: right;
    padding: 2em 1em 2em 0;
    margin-right: 5%;
    text-align: center;
}
}
footer {
    clear: both;
   text-align: center;
}