html {
    background-image:url(pictures-of-people/prettySparkles.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
header {
    font-family: cursive;
    text-align: center;
}
ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 1em;
}
li {
    font-size: x-large;
    background: none;
    width: 25%;
    text-align: center;
}
ul ul {
    display: none;
}

body {
    
    color:black; font: 1em sans-serif; font-family: Arial, Helvetica, sans-serif;

section {
    font-family: cursive; 
    color: brown;

}
h2 {
    font-family: cursive;
    clear: both;
    text-align: left;
    color:rgb(44, 65, 65)
}
#zoos {
    h2 {
       text-align: center;
        
    }
    img {
        width: 50%;
        min-width: 25%;
        clear: both;
        display: block;
        margin: auto auto;
        padding: 0 1em;
    }
    width: 40%;
    float: left;
    padding: 2em 1em 2em 0;
    margin-left: 5%;
}
#Trip {
    h2 {
        text-align: center;
    }
    img {
        width: 100%;
        min-width: 50%;
        display: block;
        margin: auto auto;

    }
    width: 40%;
    float: right;
    padding: 2em 1em 2em 0;
    margin-right: 5%;
    text-align: center;
}
}
footer {
    clear: both;
   text-align: center;
}
@media only screen and (max-width: 630px) {
    #nav_menu ul li {
        float: none;
        width: 100%;
    }
}